#content td {
	padding-top: 2px;
}

.mohit {
	cursor:pointer;
	font-weight: bold;
}

.modal-dialog{
	width:900px;
}

.table-col{
	text-align:center;
	vertical-align:middle!important; 
}

.table-head{
	text-align:center;
}

.modal{
	position:initial;
}

.data-field {
  font-size: 14px;
}

.data-value {
  font-size: 14px;
  font-weight: bold;
}

.container{
	overflow-x: hidden;
	overflow-y: hidden;
}

.price-finder .list-group-item{
	border:none;
	padding:5px 15px;
}
.price-link a, a:hover, a:active{
	color:black;
	text-decoration:underline;
}
.well-R{min-height:20px;height:auto;overflow:auto;padding: 5px;margin-bottom:0;background-color:#fff;/* border:2px solid #e3e3e3; */border-radius:0;border-bottom:0;/* -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.05); *//* box-shadow:inset 0 1px 1px rgba(0,0,0,.05); */}


.product-box{border:2px solid #eee;float:left;margin: 4px 4px 4px 4px;position:relative;padding:4px;}
.product-title h3{margin:2px 3px 0 2px;min-width:40px;font-size:12px;line-height:15px;color:#000;position:relative;text-align:center;display:block;overflow:hidden;height: auto;}
.product-price{text-align:center;color:#900;font-weight:bold;}
.product-box .col-xs-6{padding:0px};
.vertical-align {
    display: flex;
    align-items: center;
}
